$legacy-support-for-ie: false;
$text-transform: none;
$blue-dark: #1083c2;
$blue: #0d89c7;
$blue-light: #0caadd;
$orange-dark: #f58b22;
$orange: #f69323;
$orange-light: #fcb527;
$green-dark: #76b943;
$green: #97c63f;
$green-light: #bbd63b;
$red: #c9353d;
$grey: #bcbebf;
$color1: $blue;
$color2: $orange;
$color3: $green;
$color4: $red;