@import "variables_client";
@import "variables";
@import "custom";

.header-bar {
    .header-bar-inner {
        padding: 5px 0;
    }
}
.breadcrumbs-wrapper{
    background: linear-gradient(to right, $blue-dark, $blue-light);
}
.main-navigation {
    >ul {
        >li {
            a {}
        }
    }
}
.button, button, .contao-cookiebar .highlight .success, .submit{
    background: linear-gradient(to right, $green-dark, $green-light);
    border: none;
    &:hover, &:focus{
        background: $green-light;
    }
}
.headline-box {
    .headline {
        color: $color1;
    } 
    .subheadline { 
        color: $color2;
    }
    &:after {
        background: $grey; 
    }
    h3{
        font-size: 1.5em;
    }
}
@keyframes floatUpDown {
  0% {
    /* Position de départ (pas de mouvement vertical) */
    transform: translateY(0);
  }
  50% {
    /* Milieu du cycle : l'élément descend de 10 pixels */
    transform: translateY(10px);
  }
  100% {
    /* Retour à la position de départ (pour une boucle parfaite) */
    transform: translateY(0);
  }
}
.arrow-down{
    display: block;
    font-size: 2em;
    animation: floatUpDown 1.5s ease-in-out infinite;
}
body{
    &.home{
        .page-header{
            .header-navigation{ 
                @include mediaquery(mobile) {
                    display: none;
                    .main-navigation-wrapper{
                        .left-navigation-wrapper{
                            display: block;
                        }
                    }
                }
                @include mediaquery(tablet) { 
                    .main-navigation-wrapper{
                        .navigation-wrapper{
                            margin-top: 0;
                        }
                        .left-navigation-wrapper{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.page-header {
    .main-navigation-wrapper {
        .main-navigation {
            font-size: 1.2em;
            .level_1 {
                >li {
                    &.submenu {

                        &:hover,
                        &:focus {
                            a {
                                background: $white;
                            }
                        }
                    }
                    a, strong {
                        border: none;
                        margin-top: 0;
                        color: $blue-dark;
                        padding-top:15px;
                        padding-bottom:15px;
                        &::after {
                            bottom: 0 !important;
                        }

                        &:hover,
                        &:focus {
                            color: $green-dark;
                        }
                    }

                    .level_2 {
                        >li {
                            font-size: .8em;

                            a {
                                color: $blue-dark;
                                padding: 3px 6px;
                                @include transition();

                                &:hover,
                                &:focus {
                                    color: $white;
                                    background: $color1;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}
.main-navigation-mobile{
    li{
        li {
            color: $white;
        }
    }
    .icon-links:not(.full-links) a::before{
        background: none;
    }
}
.text-intro {
    font-size: 1.2em;
}

.icon-links:not(.full-links) a {
    &::before {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
    }

    &:hover,
    &:focus {
        color: $white;
        background: $color2;
        &::before {
            background: transparent;
        }
    }

}

@keyframes slideRight {
    from {
        background-position: 0 0;
    }

    to {
        /* Pour un raccord parfait, utilise la largeur exacte 
       de ton image (ex: 500px) plutôt que % si possible */
        background-position: 100% 0;
    }
}

.home-tagline {
    >.master-wrapper {
        >.centered-wrapper-background {
            animation: slideRight 10s linear infinite;
            background-size: auto 70% !important;
            background-position: 0 0;
            background-repeat: repeat-x;
        }

        .logo-tagline {
            position: absolute;
            width: 400px;
            padding: 50px;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.49) 50%, rgba(255, 255, 255, 0) 60%);
            top: 230px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .grenouille-top-home {
        .centered-wrapper-background {
            mask-repeat: no-repeat;
            mask-position: center;
            max-width: 100%;
            display: block;
            object-fit: contain;
            background: white;
            mask-size: 100% 100%;
            mask-mode: luminance;
            //mask-image: url(/files/images/masks/mask1.png);
            //mask-image: url(/files/images/masks/mask2.png);
            mask-image: url(/files/images/masks/mask4.png);

            video {
                padding-top: 50px;
                width: 100%;
                height: 100%;
            }
        }

    }
}