.page-316{
	.logo-tagline{
		position: static !important;
	    margin: 0 auto !important;
	    transform: none !important;
	}
}
form{
    .widget{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}